.matchBody {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 47.25% 5% 47.25%;
    margin-top: 3px;
    color: black;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}