#heading{
    background-color: #383E42;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
}

#logoPicture{
    height: 150px;
}

#öbl h1{
    color: white;
    font-size: 35px;
}
#untertietel h1{
    margin-top: 20px;
    font-size: 25px;
}

.centeringBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navBar{
    margin-top: 10px;
    background-color: #383E42;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:-webkit-sticky; 
}

.navBarLink{
    color: white;
    font-weight: 900;
}

.navBarElement{
    transition: transform 0.3s;
}

.navBarElement{
    margin: 100px;
}

.navBarElement:hover{
    transform: scale(1.2);
}

#navBarJs{
    position: sticky;
    top: -0.1px;
    z-index: 2;
}









#bottomBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #383E42;
    margin-top: 100px;
    font-size: 10px;
}


#footballLigaPicture{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 33.33%;
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    color: white;
}

#aboutTheLiga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    color: white;
}
#aboutTheLiga a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#aboutTheLiga a h1{
}
#aboutTheLiga a img{
    height: 30px;
    padding-left: 20px;
}
