*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #f5f5f5;
}




.teamName{
   width: 470px;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
}

.teamIcon{
    display: flex;
    align-items: center;
    width: 65px;
}

.teamIcon img{
    height: 30px;
    width: auto;
    margin-right: 30px;
    margin-left: 10px;
}

.tableElement{
    display: grid;
    grid-template-columns: 1% 4% 45% 15% 5% 5% 5%;
    align-items: center;
    margin-top: 3px;

    color: black;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
}




#tableUpperBar{
    background-color: #6B7276;
    height: 60px;
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1% 4% 45% 15% 5% 5% 5%;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    font-size: 15px;
}

#teamname{
    padding-left: 10%;
}
#tableUpperBar h1{
    font-size: 25px;
}

.points{
    padding-left: 2%;
}





#bottomBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: #383E42;
    margin-top: 100px;
    /*position: static;
    bottom: 0px;*/
}

#pictureBottomBar{
    display: flex;
    justify-content: center;
    height: 100%;
}

#pictureBottomBar img{
    height: 100%;
}

#informationButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkButton{
    display: flex;
    justify-content: center;
    align-items: center;
}



.button{
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    transition: transform 0.5s;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 100px;
}

.button img{
    width: auto;
    height: 75%;
}

.button h1{
    width: 150px;
}


  .button:hover {
    transform: scale(1.05);
    border: none;
  }

  
  .button img {
    width: auto;
    height: 75%;
    transition: transform 0.7s; /* Übergangseffekt für die Rotation */
  }
  
  .button h1 {
    width: 150px;
  }


  
  .button:hover .football {
    transform: rotate(360deg); /* 360 Grad Rotation beim Hover */
  }
  
  
  
  
  


  .bindeStrich{
    display: flex;
    justify-content: center;
    align-items: center;
  }