*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #f5f5f5;
}



#heading{
    background-color: #383E42;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
}

#logoPicture{
    height: 150px;
}

#öbl h1{
    color: white;
    font-size: 35px;
}
#untertietel h1{
    margin-top: 20px;
    font-size: 25px;
}

.centeringBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}







#bottomBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: #383E42;
    margin-top: 100px;
}

#pictureBottomBar{
    display: flex;
    justify-content: center;
    height: 100%;
}

#pictureBottomBar img{
    height: 100%;
}

#informationButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkButton{
    display: flex;
    justify-content: center;
    align-items: center;
}



.button{
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    transition: transform 0.5s;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 100px;
}

.button img{
    width: auto;
    height: 75%;
}

.button h1{
    width: 150px;
}


  .button:hover {
    transform: scale(1.05);
    border: none;
  }

  
  .button img {
    width: auto;
    height: 75%;
    transition: transform 0.7s; /* Übergangseffekt für die Rotation */
  }
  
  .button h1 {
    width: 150px;
  }
  
  .button:hover .football {
    transform: rotate(360deg); /* 360 Grad Rotation beim Hover */
  }
  
  

#selectedTeam{
    height: 200px;
    width: 100vw;
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#selectedTeam img{
    height: 100px;
    width: auto;
    transition: transform 0.5s;
}


#selectedTeam img:hover{
    transform: scale(1.2);
}
  
  
  

.match{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 47.25% 5% 47.25%;
    margin-top: 3px;
    color: black;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.team1{
    display: grid;
    grid-template-columns: 45% 45% 10%;
    align-items: center;
    height: 60px;
}
.team2{
    display: grid;
    grid-template-columns: 10% 45% 45% ;
    align-items: center;
    height: 60px;
}

.bindestrich{
    display: flex;
    justify-content: center;
}
.bindestrich h1{
    font-weight: 300;
}

.teamIcon1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 160px;
    
}
.teamName1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 110px;
}
.teamIcon1 img{
    height: 50px;
}

.teamIcon2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 160px;
    
}
.teamName2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
}
.teamIcon2 img{
    height: 50px;
}




.score1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.score2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}



.navBar{
    margin-top: 5px;
    background-color: #383E42;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navBar a{
    color: white;
    font-weight: 900;
    padding: 100px;
}

.navBar a:hover{
    color: black;
}